<div class="row">
  <div class="col-md-12">        
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>
          <strong>Title:</strong>
          <%= @blog_post.title %>
          By <%= @blog_post.user.user_handle %> 
        </p>
      </div> <!-- end of panel -->
    <div class="panel-body">  
      <p>
        <strong>Blog entry:</strong>
        <%= @blog_post.blog_entry %>
      </p>
      <p>
        <strong>Entry date:</strong>
        <%= @blog_post.entry_date %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @blog_post.address %>
      </p>
      <p><%= @blog_post.latitude %>, <%= @blog_post.longitude %></p>
      <p>
        <%= image_tag @blog_post.image.url(:medium) %>
      </p>

        <h4>Comments:</h4>
          <% @blog_post.comments.each do |comment| %>
        <p><strong><%= comment.user.user_handle %></strong> commented <%= time_ago_in_words(comment.created_at) %> ago:</p>
        <p><%= comment.comment_entry %></p>
        <% end %>
    </div><!-- end of panel body -->

    <%= javascript_tag do %>
      latitude = '<%= j @blog_post.latitude.to_s %>';
      longitude = '<%= j @blog_post.longitude.to_s %>';
      address = '<%= j @blog_post.address %>';
    <% end %>

      <% if user_signed_in? %>
       <%= render 'comments/form'%>
      <% end %>
      <div class="panel-footer">
        <%= link_to 'Back', blog_posts_path %>
      </div> <!-- end of footer -->
    </div> <!-- end of panel -->
  </div> <!-- end of column -->
</div> <!-- end of row -->
      
 <div id="destination-map"></div>

 <script>
 $(document).ready(function (){
  function initialize() {
        var myLatlng = new google.maps.LatLng(latitude, longitude);

        var mapOptions = {
          center: myLatlng,
          zoom: 11,
          scrollwheel: false
        };

        var map = new google.maps.Map(document.getElementById('destination-map'),
            mapOptions);
      
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: address
        });

        var contentString = '<h2>'+ address +'</h2>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        google.maps.event.addListener(marker, 'click', function() {
           infowindow.open(map,marker);
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
});

</script>